*{
    margin: 0;

    box-sizing: border-box;
}

/*outile de wrap*/
.flex_wrapper_row{
    display: flex;
    flex-direction: row;
}

.flex_wrapper_column{
    display: flex;
    flex-direction: column;
}



/*repeating element*/
.subtitle{
    width: 100%;

    margin-bottom: 2%;
}


.perso_profil_img{

    width: 10%;
    height: 100%;
    margin-right: 10px;

}
    .perso_profil_img div{

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 100%;

        background-color: grey;

        clip-path: circle();

        overflow: hidden;

    }
        .perso_profil_img div img{
            position: relative;
            width: 200%;

            left: -50%;
        }


.profil_img{

    width: 10%;
    height: 100%;
    margin-right: 5px;

}

    .profil_img div{

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height:100%;

        background-color: grey;

        clip-path: circle();

        overflow: hidden;

    }
        .profil_img div img{

            position: relative;
            width: 200%;

            left: -50%;
        }



body{

    display: flex;
    justify-content: center;

    margin: 0px auto;

    max-width: 70%;

}





/*Css du menu gauche*/
    .menu_left{

        position: sticky;
        
        
        display: flex;
        flex-direction: column;

        justify-content: space-around;
        
        top: 0px;
        left: 0px; 
        
        max-width: 25%;
        height: 60vh;


        font-size: 20px;

        background-color: white;

    }

        .menu_left a{
            color: black;
            text-decoration: none
        }

        .menu_left_icon{
            
            position: relative;
            width: 20%;

        }
            .menu_left_icon img{
                
                width: 100%;
            
            }

            .menu_left_item{

                font-size: 25px;

            }

            .menu_left_tweets_btn{
                width: 80%;
                text-align: center;

                background-color: cornflowerblue;
            }

    
    /*Css du menu droit*/
    .menu_right{

        position: sticky;
        right: 0px;
        top: 0px;

        display: flex;
        flex-direction: column;

        max-width: 25%;
        height: 60vh;

        padding: 10px;


        background-color: white;

    }
        .searching_box{

            width: 100%;
            height: 5%;
            border: 0.5px solid;

            margin-bottom: 10px;

        }

        .might_like{

            width: 100%;

        }

            .might_like_x{
                display: flex;

                width: 100%;

                padding: 5%;

                background-color: grey;
            }

                .might_like_content{
                    width: 90%;
                }

        .follow_btn_menu{

            position: relative;
            right: 5%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: absolute;

            background-color: gray;

            color: white;

            width: 25%;
        }

            .follow_btn_menu a{
                color: white;
                text-decoration: none;
            }



    /*Css des centre de page*/
    .center{

        position: relative;
        z-index: 0;


        display: flex;
        flex-direction: column;

        align-items: center;

        width: 50%;

        margin: 0px 20px 0 20px;
    }

        .center header{

            position: sticky;
            top: 0px;

            z-index: 1;
        
        
            background-color: white;
    
            width:100%;
            height: 5vh;
            padding: 1%;
        }


            
            /*Css des tweets box*/        
            .tweets_box_x{

                display: flex;

                width: 100%;

                padding: 1%;

                border-bottom: solid 0.5px;

            }
                
                .tweets_content_box{

                    display: flex;
                    flex-direction: column;

                    width: 90%;
                }

                    .tweets_content_box div{

                        width: 100%;
                    }

                    .action_btn{

                        display: flex;
                        justify-content: space-around;

                        margin-top: 2%;

                    }

                    .action_btn div{
                        width: 7%;
                    }

                        .action_btn div img{

                            width: 100%;
                        }

                        

