

main{

    
    max-width: 100%;

    border: solid 0.5px;
}


    /*Css du user box*/
    #user_box{


        border: solid 1px;

        width: 100%;
        height: 50vh;


        
    }
        


        .bg_box{

            display: flex;
            flex-direction: column;
            justify-content: center;


            width: 100%;
            height: 50%;
            border-bottom: solid 0.5px;


            overflow: hidden;

        }

            .bg_box img{

                position: relative;
                top: 0;
                
                max-width: 80%;
            }
        
        #main_img_profil{
            
            position: absolute;
            
            display: flex;
            flex-direction: column;
            justify-content: center;

            top: 22vh;

            margin-left: 2%;
            
            width: 10vh;
            height: 15vh;

            clip-path: circle();
            

            background-color: gray;

            overflow: hidden;
        
        }

            #main_img_profil img{
                position: relative;
                left:-50% ;
                width: 200%;
            }


        .user_info{

            display: flex;
            flex-direction: column;

            justify-content: center;

            width: 30%;
            height: 40%;

            margin-left: 5%;
            

        }

        .navigation_bar{

            display: flex;

            justify-content: space-around;
            align-items: center;

            position: relative;

            width: 100%;
            height: 10%;

            background-color: gray;



        }

            .navigation_bar div{

                width: 15%;

            }

    
    
    /*Css de la boite de tweets perso même propriété que la boite de tweets uttiliser pour les tweets des autre uttilisateur mais pour soit même*/
    .tweets_box_perso{

        display: flex;
        flex-direction: column;

        width: 100%;

        padding: 1%;

        border-bottom: solid 0.5px;

    }

    


    /*Css de la partie who to follow*/
    #who_to_follow{

        width: 100%;

        padding: 1%;

        display: flex;
        flex-direction: column;

        border-bottom: solid 0.5px;

    }


        .follow_x{
            position: relative;
            width: 100%;
            margin-top: 10px;
        }

            .description_content_box{

                display: flex;
                flex-direction: column;

                padding: 1%;

                width: 90%;
            }

            .follow_btn{
                position: absolute;
                top: 15%;
                right: 5%;

                text-align: center;
                font-size: 20px;

                width: 15%;
                background-color: black;
                color: white;
            }

    
    
    /*Css de la partie topic to follow*/
    #topic_to_follow{
        
        width: 100%;
        padding: 5%;

    }

        .grid_box{

            margin-top: 5%;
            
            display: grid;
            grid-template-columns: repeat(6,60%);

            overflow-x: scroll;
        }
            .grid_box div{

                background-color: gray;
                margin: 0 20% 10% 0;

                font-size: 20px;
            }


    
